@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");


@import url(css/header/header.css);
@import url(css/main/main.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    font-weight: 400;
    padding-left: 30px;
    width: 170px;
    height: 30px;
    border-radius: 50px;
    border-color: #9767a9;

}